<a href="https://colab.research.google.com/github/VictorHaBarra/ABX-CP2-IA/blob/main/ABXDesafio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [40]:
data = pd.read_csv("solicitacoescredito.csv")

In [41]:
data.head()

,numero_solicitacao,razaoSocial,nomeFantasia,cnpjSemTraco,maiorAtraso,margemBrutaAcumulada,percentualProtestos,primeiraCompra,prazoMedioRecebimentoVendas,titulosEmAberto,...,periodoDemonstrativoEmMeses,custos,anoFundacao,intervaloFundacao,capitalSocial,restricoes,empresa_MeEppMei,scorePontualidade,limiteEmpresaAnaliseCredito,dataAprovadoNivelAnalista
0,1,James Richardson-Patel,Alexandra Williams,KEBE17609492220843,0,0.252448,0.0,2015-12-10T00:00:00,0,0.00,...,12.0,0.0,2003.0,Acima de 17 anos,90000.0,False,True,1.0,43200.0,2020-02-03T20:57:33
1,2,Dr. Geoffrey Walsh,Mr. Darren Arnold,JRBK88908250677300,0,0.000000,NaN,2019-06-12T17:28:31,0,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
2,3,Joanna Hudson,Dr. David Rees,GCVQ28531614261293,4,0.624777,0.0,2019-11-27T00:00:00,0,0.00,...,7.0,0.0,2014.0,De 6 a 10 anos,20000.0,False,True,1.0,4320.0,2020-02-04T16:40:49
3,4,Gordon Jones-Hopkins,Sara Reid-Robson,KJND32266018316396,20,0.000000,NaN,2017-02-13T17:20:27,0,0.00,...,12.0,0.0,2013.0,De 6 a 10 anos,30000.0,False,True,0.0,5920.0,2020-02-04T16:37:52
4,5,Nigel Lee,Dr. Stanley Duncan,CGQN15826802440348,20,0.454088,0.0,2010-07-13T00:00:00,20,1486.95,...,9.0,40680051.0,2002.0,Acima de 17 anos,75000.0,False,False,1.0,89000.0,2020-02-04T15:06:28

In [ ]:
#Analisando o dataframe.
data.info()
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8973 entries, 0 to 8972
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   numero_solicitacao           8973 non-null   int64
 1   razaoSocial                  8973 non-null   object
 2   nomeFantasia                 8973 non-null   object
 3   cnpjSemTraco                 8973 non-null   object
 4   maiorAtraso                  8973 non-null   int64
 5   margemBrutaAcumulada         8973 non-null   float64
 6   percentualProtestos          7475 non-null   float64
 7   primeiraCompra               8867 non-null   object
 8   prazoMedioRecebimentoVendas  8973 non-null   int64
 9   titulosEmAberto              8973 non-null   float64
 10  valorSolicitado              8973 non-null   float64
 11  status                       8973 non-null   object
 12  definicaoRisco               8973 non-null   object
 13  diferencaPercentualRisco     8973 non-null   float64
 14  percentualRisco              8973 non-null   float64
 15  dashboardCorrelacao          8973 non-null   float64
 16  valorAprovado                7569 non-null   float64
 17  dataAprovadoEmComite         558 non-null    object
 18  periodoBalanco               4733 non-null   object
 19  ativoCirculante              4733 non-null   float64
 20  passivoCirculante            4733 non-null   float64
 21  totalAtivo                   4733 non-null   float64
 22  totalPatrimonioLiquido       4733 non-null   float64
 23  endividamento                4733 non-null   float64
 24  duplicatasAReceber           4733 non-null   float64
 25  estoque                      4733 non-null   float64
 26  faturamentoBruto             8223 non-null   float64
 27  margemBruta                  8223 non-null   float64
 28  periodoDemonstrativoEmMeses  8223 non-null   float64
 29  custos                       8223 non-null   float64
 30  anoFundacao                  8228 non-null   float64
 31  intervaloFundacao            8228 non-null   object
 32  capitalSocial                8228 non-null   float64
 33  restricoes                   8228 non-null   object
 34  empresa_MeEppMei             8228 non-null   object
 35  scorePontualidade            8973 non-null   float64
 36  limiteEmpresaAnaliseCredito  8228 non-null   float64
 37  dataAprovadoNivelAnalista    7011 non-null   object
dtypes: float64(23), int64(3), object(12)
memory usage: 2.6+ MB

,numero_solicitacao,maiorAtraso,margemBrutaAcumulada,percentualProtestos,prazoMedioRecebimentoVendas,titulosEmAberto,valorSolicitado,diferencaPercentualRisco,percentualRisco,dashboardCorrelacao,...,duplicatasAReceber,estoque,faturamentoBruto,margemBruta,periodoDemonstrativoEmMeses,custos,anoFundacao,capitalSocial,scorePontualidade,limiteEmpresaAnaliseCredito
count,8973.000000,8973.000000,8973.000000,7475.000000,8973.000000,8.973000e+03,8.973000e+03,8973.000000,8973.000000,8973.000000,...,4.733000e+03,4.733000e+03,8.223000e+03,8.223000e+03,8223.000000,8.223000e+03,8228.000000,8.228000e+03,8973.000000,8.228000e+03
mean,4550.042015,24.642594,0.362176,0.019260,23.083027,6.487101e+04,7.492436e+05,0.750321,0.249679,0.047236,...,1.663397e+07,1.523956e+07,5.597420e+07,1.620988e+07,10.377356,2.839061e+07,2006.027467,1.121453e+07,0.798346,2.851017e+06
std,2603.485853,66.180793,0.201455,0.593579,68.177649,2.482852e+05,2.261875e+07,0.146058,0.146058,0.472476,...,2.979029e+08,8.383792e+07,3.344357e+08,1.163482e+08,3.220965,2.072148e+08,19.424120,9.742853e+07,0.379186,2.672324e+07
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,1.000000e+02,0.207547,0.000000,-0.999990,...,-2.278071e+07,-2.632260e+05,0.000000e+00,-6.148721e+08,1.000000,-3.466338e+08,1000.000000,0.000000e+00,0.000000,0.000000e+00
25%,2316.000000,3.000000,0.281395,0.000000,0.000000,0.000000e+00,2.500000e+04,0.642857,0.142857,0.000000,...,3.920500e+04,1.712860e+05,1.191995e+06,0.000000e+00,11.000000,0.000000e+00,2000.000000,5.000000e+04,0.887479,7.360000e+03
50%,4559.000000,6.000000,0.402895,0.000000,0.000000,0.000000e+00,5.000000e+04,0.750000,0.250000,0.000000,...,1.088164e+06,1.063783e+06,3.599483e+06,0.000000e+00,12.000000,0.000000e+00,2009.000000,1.000000e+05,1.000000,4.860000e+04
75%,6802.000000,22.000000,0.507860,0.000000,30.000000,1.725000e+04,1.200000e+05,0.857143,0.357143,0.000000,...,6.576243e+06,5.493839e+06,1.584222e+07,3.357474e+06,12.000000,4.520907e+06,2015.000000,5.000000e+05,1.000000,3.450000e+05
max,9045.000000,1265.000000,1.000000,36.983728,1605.000000,3.938590e+06,1.500000e+09,1.000000,0.792453,0.999990,...,2.009358e+10,1.293428e+09,6.426115e+09,3.366843e+09,12.000000,4.393536e+09,2020.000000,4.100000e+09,1.000000,1.974261e+09

In [ ]:
#Quantidade de dados unicos
data.nunique()

numero_solicitacao             8973
razaoSocial                    2759
nomeFantasia                   2677
cnpjSemTraco                   2829
maiorAtraso                     175
margemBrutaAcumulada           2145
percentualProtestos              10
primeiraCompra                 1950
prazoMedioRecebimentoVendas     180
titulosEmAberto                 761
valorSolicitado                 363
status                            7
definicaoRisco                    4
diferencaPercentualRisco         79
percentualRisco                  81
dashboardCorrelacao             701
valorAprovado                   326
dataAprovadoEmComite            558
periodoBalanco                  124
ativoCirculante                1794
passivoCirculante              1789
totalAtivo                     1788
totalPatrimonioLiquido         1759
endividamento                  1185
duplicatasAReceber             1668
estoque                        1674
faturamentoBruto               4288
margemBruta                    1929
periodoDemonstrativoEmMeses      12
custos                         1743
anoFundacao                      69
intervaloFundacao                 4
capitalSocial                   403
restricoes                        2
empresa_MeEppMei                  2
scorePontualidade               385
limiteEmpresaAnaliseCredito    1810
dataAprovadoNivelAnalista      7011
dtype: int64

In [ ]:
#Removendo dados duplicados
data.drop_duplicates(inplace=True)
data.shape

(8973, 38)

In [ ]:
#Removendo colunas julgadas desnecessarias.
colunas_a_remover = ['numero_solicitacao', 'razaoSocial', 'nomeFantasia', 'primeiraCompra',
                   'prazoMedioRecebimentoVendas', 'titulosEmAberto', 'valorSolicitado',
                    'definicaoRisco', 'diferencaPercentualRisco', 'percentualRisco',
                   'dashboardCorrelacao', 'valorAprovado',
                   'periodoBalanco', 'dataAprovadoEmComite', 'intervaloFundacao',
                     'dataAprovadoNivelAnalista',]
data.drop(colunas_a_remover, axis=1, inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8973 entries, 0 to 8972
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   cnpjSemTraco                 8973 non-null   object
 1   maiorAtraso                  8973 non-null   int64
 2   margemBrutaAcumulada         8973 non-null   float64
 3   percentualProtestos          7475 non-null   float64
 4   status                       8973 non-null   object
 5   ativoCirculante              4733 non-null   float64
 6   passivoCirculante            4733 non-null   float64
 7   totalAtivo                   4733 non-null   float64
 8   totalPatrimonioLiquido       4733 non-null   float64
 9   endividamento                4733 non-null   float64
 10  duplicatasAReceber           4733 non-null   float64
 11  estoque                      4733 non-null   float64
 12  faturamentoBruto             8223 non-null   float64
 13  margemBruta                  8223 non-null   float64
 14  periodoDemonstrativoEmMeses  8223 non-null   float64
 15  custos                       8223 non-null   float64
 16  anoFundacao                  8228 non-null   float64
 17  capitalSocial                8228 non-null   float64
 18  restricoes                   8228 non-null   object
 19  empresa_MeEppMei             8228 non-null   object
 20  scorePontualidade            8973 non-null   float64
 21  limiteEmpresaAnaliseCredito  8228 non-null   float64
dtypes: float64(17), int64(1), object(4)
memory usage: 1.5+ MB



*   cnpjSemTraco = Indentificador.
*   status = Variavel target.

In [ ]:
data.head()

,cnpjSemTraco,maiorAtraso,margemBrutaAcumulada,percentualProtestos,status,ativoCirculante,passivoCirculante,totalAtivo,totalPatrimonioLiquido,endividamento,...,faturamentoBruto,margemBruta,periodoDemonstrativoEmMeses,custos,anoFundacao,capitalSocial,restricoes,empresa_MeEppMei,scorePontualidade,limiteEmpresaAnaliseCredito
0,KEBE17609492220843,0,0.252448,0.0,AprovadoAnalista,NaN,NaN,NaN,NaN,NaN,...,1766880.0,0.0,12.0,0.0,2003.0,90000.0,False,True,1.0,43200.0
1,JRBK88908250677300,0,0.000000,NaN,DocumentacaoReprovada,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
2,GCVQ28531614261293,4,0.624777,0.0,AprovadoAnalista,NaN,NaN,NaN,NaN,NaN,...,2814940.0,0.0,7.0,0.0,2014.0,20000.0,False,True,1.0,4320.0
3,KJND32266018316396,20,0.000000,NaN,AprovadoAnalista,NaN,NaN,NaN,NaN,NaN,...,1285274.0,0.0,12.0,0.0,2013.0,30000.0,False,True,0.0,5920.0
4,CGQN15826802440348,20,0.454088,0.0,AprovadoAnalista,14758917.0,12149031.0,25793410.0,14544378.0,3039112.0,...,40779757.0,81459809.0,9.0,40680051.0,2002.0,75000.0,False,False,1.0,89000.0

In [ ]:
#Tratando dados NaN da coluna "empresa_MeEppMei".
data["empresa_MeEppMei"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 8973 entries, 0 to 8972
Series name: empresa_MeEppMei
Non-Null Count  Dtype
--------------  -----
8973 non-null   bool
dtypes: bool(1)
memory usage: 8.9 KB

In [ ]:
data['empresa_MeEppMei'].fillna(data['empresa_MeEppMei'].mode()[0], inplace=True)

In [ ]:
data['empresa_MeEppMei'].head(50)

0      True
1     False
2      True
3      True
4     False
5      True
6     False
7     False
8     False
9     False
10     True
11    False
12     True
13    False
14    False
15     True
16    False
17    False
18    False
19    False
20     True
21     True
22     True
23    False
24    False
25    False
26    False
27     True
28     True
29    False
30    False
31     True
32     True
33     True
34    False
35    False
36     True
37     True
38     True
39     True
40    False
41     True
42     True
43    False
44     True
45     True
46     True
47     True
48     True
49     True
Name: empresa_MeEppMei, dtype: bool

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8973 entries, 0 to 8972
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   cnpjSemTraco                 8973 non-null   object
 1   maiorAtraso                  8973 non-null   int64
 2   margemBrutaAcumulada         8973 non-null   float64
 3   percentualProtestos          7475 non-null   float64
 4   status                       8973 non-null   object
 5   ativoCirculante              4733 non-null   float64
 6   passivoCirculante            4733 non-null   float64
 7   totalAtivo                   4733 non-null   float64
 8   totalPatrimonioLiquido       4733 non-null   float64
 9   endividamento                4733 non-null   float64
 10  duplicatasAReceber           4733 non-null   float64
 11  estoque                      4733 non-null   float64
 12  faturamentoBruto             8223 non-null   float64
 13  margemBruta                  8223 non-null   float64
 14  periodoDemonstrativoEmMeses  8223 non-null   float64
 15  custos                       8223 non-null   float64
 16  anoFundacao                  8228 non-null   float64
 17  capitalSocial                8228 non-null   float64
 18  restricoes                   8228 non-null   object
 19  empresa_MeEppMei             8228 non-null   object
 20  scorePontualidade            8973 non-null   float64
 21  limiteEmpresaAnaliseCredito  8228 non-null   float64
dtypes: float64(17), int64(1), object(4)
memory usage: 1.5+ MB

In [42]:
import pandas as pd

# Seu DataFrame existente
data = pd.read_csv("solicitacoescredito.csv")

df = pd.DataFrame(data)

# Definindo os limites para pequena, média e grande empresa com base no faturamento bruto, total de ativo e patrimônio líquido
limite_pequena_empresa_faturamento = 1000000
limite_grande_empresa_faturamento = 10000000
limite_pequena_empresa_total_ativo = 1000000
limite_grande_empresa_total_ativo = 10000000
limite_pequena_empresa_patrimonio_liquido = 1000000
limite_grande_empresa_patrimonio_liquido = 10000000

# Definindo as condições para os tamanhos das empresas com base no faturamento bruto, total de ativo e patrimônio líquido
conditions = [
    (df['faturamentoBruto'] < limite_pequena_empresa_faturamento) & (df['totalAtivo'] < limite_pequena_empresa_total_ativo) & (df['totalPatrimonioLiquido'] < limite_pequena_empresa_patrimonio_liquido),
    ((df['faturamentoBruto'] >= limite_pequena_empresa_faturamento) & (df['faturamentoBruto'] < limite_grande_empresa_faturamento)) | ((df['totalAtivo'] >= limite_pequena_empresa_total_ativo) & (df['totalAtivo'] < limite_grande_empresa_total_ativo)) | ((df['totalPatrimonioLiquido'] >= limite_pequena_empresa_patrimonio_liquido) & (df['totalPatrimonioLiquido'] < limite_grande_empresa_patrimonio_liquido)),
    (df['faturamentoBruto'] >= limite_grande_empresa_faturamento) & (df['totalAtivo'] >= limite_grande_empresa_total_ativo) & (df['totalPatrimonioLiquido'] >= limite_grande_empresa_patrimonio_liquido)
]

# Definindo os valores para os tamanhos das empresas
values = ['Pequena Empresa', 'Média Empresa', 'Grande Empresa']

# Criando a nova coluna 'tamanho_empresa' com base nas condições e valores definidos
df['tamanho_empresa'] = pd.Series(pd.cut(df['faturamentoBruto'], bins=[-float('inf'), limite_pequena_empresa_faturamento, limite_grande_empresa_faturamento, float('inf')], labels=values))

# Visualizando o DataFrame com a nova coluna
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8973 entries, 0 to 8972
Data columns (total 39 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   numero_solicitacao           8973 non-null   int64
 1   razaoSocial                  8973 non-null   object
 2   nomeFantasia                 8973 non-null   object
 3   cnpjSemTraco                 8973 non-null   object
 4   maiorAtraso                  8973 non-null   int64
 5   margemBrutaAcumulada         8973 non-null   float64
 6   percentualProtestos          7475 non-null   float64
 7   primeiraCompra               8867 non-null   object
 8   prazoMedioRecebimentoVendas  8973 non-null   int64
 9   titulosEmAberto              8973 non-null   float64
 10  valorSolicitado              8973 non-null   float64
 11  status                       8973 non-null   object
 12  definicaoRisco               8973 non-null   object
 13  diferencaPercentualRisco     8973 non-null   float64
 14  percentualRisco              8973 non-null   float64
 15  dashboardCorrelacao          8973 non-null   float64
 16  valorAprovado                7569 non-null   float64
 17  dataAprovadoEmComite         558 non-null    object
 18  periodoBalanco               4733 non-null   object
 19  ativoCirculante              4733 non-null   float64
 20  passivoCirculante            4733 non-null   float64
 21  totalAtivo                   4733 non-null   float64
 22  totalPatrimonioLiquido       4733 non-null   float64
 23  endividamento                4733 non-null   float64
 24  duplicatasAReceber           4733 non-null   float64
 25  estoque                      4733 non-null   float64
 26  faturamentoBruto             8223 non-null   float64
 27  margemBruta                  8223 non-null   float64
 28  periodoDemonstrativoEmMeses  8223 non-null   float64
 29  custos                       8223 non-null   float64
 30  anoFundacao                  8228 non-null   float64
 31  intervaloFundacao            8228 non-null   object
 32  capitalSocial                8228 non-null   float64
 33  restricoes                   8228 non-null   object
 34  empresa_MeEppMei             8228 non-null   object
 35  scorePontualidade            8973 non-null   float64
 36  limiteEmpresaAnaliseCredito  8228 non-null   float64
 37  dataAprovadoNivelAnalista    7011 non-null   object
 38  tamanho_empresa              8223 non-null   category
dtypes: category(1), float64(23), int64(3), object(12)
memory usage: 2.6+ MB

In [22]:
df.head(50)

,numero_solicitacao,razaoSocial,nomeFantasia,cnpjSemTraco,maiorAtraso,margemBrutaAcumulada,percentualProtestos,primeiraCompra,prazoMedioRecebimentoVendas,titulosEmAberto,...,custos,anoFundacao,intervaloFundacao,capitalSocial,restricoes,empresa_MeEppMei,scorePontualidade,limiteEmpresaAnaliseCredito,dataAprovadoNivelAnalista,tamanho_empresa
0,1,James Richardson-Patel,Alexandra Williams,KEBE17609492220843,0,0.252448,0.0,2015-12-10T00:00:00,0,0.00,...,0.0,2003.0,Acima de 17 anos,90000.0,False,True,1.000000,43200.0,2020-02-03T20:57:33,Média Empresa
1,2,Dr. Geoffrey Walsh,Mr. Darren Arnold,JRBK88908250677300,0,0.000000,NaN,2019-06-12T17:28:31,0,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN
2,3,Joanna Hudson,Dr. David Rees,GCVQ28531614261293,4,0.624777,0.0,2019-11-27T00:00:00,0,0.00,...,0.0,2014.0,De 6 a 10 anos,20000.0,False,True,1.000000,4320.0,2020-02-04T16:40:49,Média Empresa
3,4,Gordon Jones-Hopkins,Sara Reid-Robson,KJND32266018316396,20,0.000000,NaN,2017-02-13T17:20:27,0,0.00,...,0.0,2013.0,De 6 a 10 anos,30000.0,False,True,0.000000,5920.0,2020-02-04T16:37:52,Média Empresa
4,5,Nigel Lee,Dr. Stanley Duncan,CGQN15826802440348,20,0.454088,0.0,2010-07-13T00:00:00,20,1486.95,...,40680051.0,2002.0,Acima de 17 anos,75000.0,False,False,1.000000,89000.0,2020-02-04T15:06:28,Grande Empresa
5,6,Liam Jackson,Gerard Gordon,KAYS53232027306925,0,0.000000,NaN,2019-06-28T10:25:57,0,0.00,...,0.0,2011.0,De 6 a 10 anos,15000.0,False,True,0.000000,38400.0,2020-02-04T15:10:46,Pequena Empresa
6,7,Alexander Baker-Wells,Dr. Caroline Ali,PYOL43118620147076,16,0.000000,NaN,2011-03-02T11:27:13,0,0.00,...,156394112.0,1982.0,Acima de 17 anos,30515674.0,True,False,0.000000,18132588.0,2020-02-05T14:31:22,Grande Empresa
7,8,Jean Berry,Gregory Gould,NLUX93496216176463,4,0.350175,0.0,2007-07-02T00:00:00,102,208980.00,...,0.0,2000.0,Acima de 17 anos,120000.0,False,False,1.000000,768233.0,2020-02-05T20:05:40,Grande Empresa
8,9,Elliot Stephenson,Adrian Graham,LOVL82962402474134,43,0.245818,0.0,2006-07-10T00:00:00,27,6432.00,...,-49267738.0,2000.0,Acima de 17 anos,1000000.0,False,False,1.000000,6910219.0,2020-02-05T20:07:07,Grande Empresa
9,10,Dr. Dale Dawson,Caroline Hale,NXKJ36775578171965,24,0.000012,0.0,2011-02-24T00:00:00,0,22733.33,...,NaN,NaN,NaN,NaN,NaN,NaN,0.831590,NaN,NaN,NaN
10,11,Katie Lawson,Patricia Reynolds,SVXA16230297135119,7,0.000000,NaN,2012-02-24T16:01:26,0,0.00,...,-3299332.0,2011.0,De 6 a 10 anos,20000.0,False,True,0.000000,81000.0,2020-02-05T15:15:10,Média Empresa
11,12,Ellie Turner,Mohamed Welch,ELQK41348591516215,26,0.000000,NaN,2017-12-20T17:03:32,0,0.00,...,-9455401.0,2009.0,De 11 a 16 anos,600000.0,False,False,0.000000,183509.0,NaN,Grande Empresa
12,13,Kathleen Jones,Toby Coleman,TWLY57287382223459,3,0.000000,NaN,2019-10-10T11:47:29,0,0.00,...,0.0,2017.0,De 0 a 5 anos,100000.0,False,True,0.000000,33000.0,2020-02-04T17:42:58,Pequena Empresa
13,14,Nicole Fry,Lewis Harris,PVQV57475295829119,52,0.000000,NaN,2006-05-01T13:18:05,0,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN
14,15,Anthony Moore-Jones,Terence Dean-Thompson,XLNC07002754445884,4,0.314575,0.0,2019-03-08T00:00:00,0,0.00,...,-25744597.0,1990.0,Acima de 17 anos,530000.0,False,False,1.000000,3257020.0,2020-02-05T16:06:44,Grande Empresa
15,16,Karen Manning,Gavin Coleman,WHQL39719346986330,28,0.000000,NaN,2011-08-08T11:28:00,0,0.00,...,-346633805.0,1999.0,Acima de 17 anos,100000.0,False,True,0.000000,349779.0,2020-02-05T20:34:47,Grande Empresa
16,17,Daniel Shepherd,Charles Hughes,NXRJ16458301617069,19,0.000000,NaN,2009-05-30T11:49:31,0,0.00,...,-346633805.0,1992.0,Acima de 17 anos,2000000.0,True,False,0.000000,0.0,2020-02-06T15:02:37,Grande Empresa
17,18,Louise Baker,Martin Andrews,RAYM82479248299653,2,0.307894,0.0,2018-07-10T00:00:00,0,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN
18,19,Mr. John Clarke,Nicola Vaughan,IOFP88433962679693,4,0.000000,NaN,2018-06-13T17:43:00,0,0.00,...,-346633805.0,1992.0,Acima de 17 anos,2000000.0,True,False,0.000000,0.0,2020-02-06T13:56:55,Grande Empresa
19,20,Brian Harris,Dr. Jeremy Thomas,EVNK64152188336281,5,0.394118,0.0,2016-01-20T00:00:00,0,0.00,...,39530707.0,1994.0,Acima de 17 anos,4500000.0,False,False,0.999976,7057328.0,2020-02-13T19:25:07,Grande Empresa
20,21,Dr. Terry Smith,Dr. Mary Stokes,HMFO23636187362512,40,0.458052,0.0,2017-11-22T00:00:00,0,12882.35,...,-852138.0,2009.0,De 11 a 16 anos,150000.0,False,True,1.000000,2700.0,2020-02-05T20:08:45,Média Empresa
21,22,Marilyn Chan-Anderson,Raymond Parker,PCVI24213068479712,60,0.375781,0.0,2014-03-31T00:00:00,1,2400.02,...,832480.0,2008.0,De 11 a 16 anos,50000.0,True,True,0.691342,46253.0,NaN,Média Empresa
22,23,Mary Smith,Mr. Leon Smith,HMOW17454360616914,18,0.691500,0.0,2013-02-18T00:00:00,0,0.00,...,-6807767.0,2009.0,De 11 a 16 anos,900000.0,False,True,0.991829,539660.0,2020-02-05T20:17:07,Média Empresa
23,24,Mr. Danny Davies,Gerard Marshall-Clarke,VPSW77029129679550,35,0.310474,0.0,2017-09-06T00:00:00,25,46949.30,...,258298725.0,1996.0,Acima de 17 anos,96791092.0,True,False,0.769472,25641275.0,NaN,Grande Empresa
24,25,Lynda Saunders,Katherine Clements,LCKD90518287718177,6,0.000000,NaN,2010-05-21T17:12:17,0,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN
25,26,Barry Whitehead,Mrs. Dawn Kay,LSWO05242442631373,14,0.286028,0.0,2009-06-17T00:00:00,0,0.00,...,0.0,2006.0,De 11 a 16 anos,1000000.0,False,False,1.000000,1895888.0,2020-02-19T13:22:46,Grande Empresa
26,27,Miss Dorothy Phillips,Mr. Kenneth Brooks,SPWA04763690788971,23,0.553692,0.0,2007-03-15T00:00:00,0,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN
27,28,Declan Bolton,Marcus Stewart,GMDC41398326600676,0,0.000000,NaN,2019-12-19T17:29:40,0,0.00,...,0.0,2008.0,De 11 a 16 anos,72400.0,True,True,0.000000,0.0,NaN,Pequena Empresa
28,29,Robin Turner,Mr. Terence Johnson,XYYW56476871254905,4,0.441271,0.0,2018-04-25T00:00:00,0,0.00,...,14712042.0,2014.0,De 6 a 10 anos,150000.0,False,True,1.000000,102862.0,2020-02-06T14:07:01,Grande Empresa
29,30,Fiona Weston,Aimee Marshall,LIYU34722071053277,11,0.535712,0.0,2018-06-26T00:00:00,0,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN
30,31,Debra Wood,Adrian West,KENB40610230940169,0,0.000000,NaN,2016-08-25T17:20:08,0,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN
31,32,Elliott Rose,Deborah Jones-Gibson,JJJO86195665960207,9,0.593274,0.0,2016-11-18T00:00:00,31,5549.21,...,-645988.0,2003.0,Acima de 17 anos,88000.0,False,True,1.000000,788688.0,2020-02-05T20:46:45,Média Empresa
32,33,Mrs. Joyce Palmer,Sarah Singh,NGUK12954301438508,0,0.336341,0.0,2017-08-07T00:00:00,0,0.00,...,0.0,1997.0,Acima de 17 anos,5000.0,False,True,1.000000,12420.0,2020-02-05T18:33:21,Pequena Empresa
33,34,Mr. Josh Parker,Mohamed Walker,AJIA58482400691635,807,0.000000,NaN,2007-07-02T17:09:55,0,0.00,...,0.0,1992.0,Acima de 17 anos,1400000.0,False,True,0.000000,527934.0,2020-02-05T17:21:49,Pequena Empresa
34,35,Lauren Kirk-Fleming,Charlene Miller,KRJP50358458487256,13,0.000000,NaN,2018-11-21T17:48:51,0,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN
35,36,Hayley Wilson-Watkins,Mrs. Sharon Fox,LTLQ00302498552900,0,0.473710,0.0,2019-02-22T00:00:00,0,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN
36,37,Dr. Leslie Mitchell,Brandon Lewis,UQUH72595348437743,135,0.387284,0.0,2018-06-13T00:00:00,0,0.00,...,2554508.0,2012.0,De 6 a 10 anos,100000.0,True,True,1.000000,0.0,NaN,Média Empresa
37,38,Dr. Henry Jones,Toby Taylor,RKYL60948261495604,3,0.457667,0.0,2009-06-29T00:00:00,0,0.00,...,0.0,2008.0,De 11 a 16 anos,78800.0,False,True,1.000000,52800.0,2020-02-05T18:37:57,Média Empresa
38,39,Carly Murphy,Dr. Wayne Williams,DXVE26432648734958,4,0.531842,0.0,2011-08-16T00:00:00,0,0.00,...,0.0,2010.0,De 6 a 10 anos,99800.0,False,True,1.000000,88000.0,2020-02-05T18:39:17,Média Empresa
39,40,Mr. Thomas Ward,Pamela Jackson,WGWU96704999062054,17,0.000000,NaN,2018-10-05T17:27:12,0,0.00,...,0.0,2016.0,De 0 a 5 anos,95400.0,False,True,0.000000,1600.0,2020-02-05T18:41:20,Pequena Empresa
40,41,Danny Kennedy,Paige Simpson,IJVB13269462571891,3,0.000000,NaN,2011-08-02T17:13:06,0,0.00,...,0.0,1992.0,Acima de 17 anos,200000.0,False,False,0.000000,1091250.0,2020-02-06T20:38:55,Média Empresa
41,42,Oliver Nelson,Diane Mellor,JNZU40131737101208,0,0.432734,0.0,2020-01-15T00:00:00,0,0.00,...,0.0,2019.0,De 0 a 5 anos,5000.0,False,True,1.000000,1120.0,NaN,Pequena Empresa
42,43,Dr. Michael North,Leah Sheppard,IYZA05872767332466,2,0.000000,NaN,2013-09-30T17:15:04,0,0.00,...,-431401.0,2008.0,De 11 a 16 anos,40000.0,False,True,0.000000,10800.0,2020-02-05T18:48:03,Pequena Empresa
43,44,Mrs. Tina Cox,William Miller,SLUA32337517673766,0,0.358980,0.0,2018-01-09T00:00:00,0,0.00,...,0.0,2006.0,De 11 a 16 anos,550000.0,False,False,1.000000,3687008.0,2020-02-05T18:49:27,Grande Empresa
44,45,Philip Haynes,Dr. Luke Perkins,TVUP59036702738493,2,0.000000,NaN,2017-05-18T17:21:49,0,0.00,...,0.0,1994.0,Acima de 17 anos,30000.0,True,True,0.000000,12800.0,2020-02-05T16:18:55,Pequena Empresa
45,47,Neil Wilson-Moore,Connor Lloyd,NQVD66927247638857,43,0.370070,0.0,2006-06-01T00:00:00,0,2480.00,...,0.0,2005.0,De 11 a 16 anos,60000.0,False,True,1.000000,7020.0,2020-02-05T18:50:41,Média Empresa
46,49,Miss Olivia Charlton,Martin Horton,LAOH78168410122240,10,0.390872,0.0,2014-11-06T00:00:00,0,0.00,...,0.0,2000.0,Acima de 17 anos,10000.0,False,True,1.000000,5920.0,2020-02-05T18:54:53,Média Empresa
47,50,Sylvia Bryant,Abbie McLean-Fowler,DFGK41630869614960,3,0.435392,0.0,2017-07-04T00:00:00,0,0.00,...,0.0,2017.0,De 0 a 5 anos,10000.0,False,True,1.000000,6400.0,2020-02-05T19:10:43,Pequena Empresa
48,51,Dr. Billy Wells,Dr. Christopher Saunders,DDGD62654890764375,3,0.353361,0.0,2018-03-22T00:00:00,0,0.00,...,-27592668.0,2008.0,De 11 a 16 anos,600000.0,True,True,1.000000,2700.0,NaN,Grande Empresa
49,52,Alison Ali,Philip Daniels,UHSZ57059363067433,0,0.000000,NaN,2019-04-22T17:28:19,0,0.00,...,0.0,2008.0,De 11 a 16 anos,100000.0,False,True,0.000000,8800.0,2020-02-05T19:12:13,Pequena Empresa

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8973 entries, 0 to 8972
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   numero_solicitacao           8973 non-null   int64
 1   razaoSocial                  8973 non-null   object
 2   nomeFantasia                 8973 non-null   object
 3   cnpjSemTraco                 8973 non-null   object
 4   maiorAtraso                  8973 non-null   int64
 5   margemBrutaAcumulada         8973 non-null   float64
 6   percentualProtestos          7475 non-null   float64
 7   primeiraCompra               8867 non-null   object
 8   prazoMedioRecebimentoVendas  8973 non-null   int64
 9   titulosEmAberto              8973 non-null   float64
 10  valorSolicitado              8973 non-null   float64
 11  status                       8973 non-null   object
 12  definicaoRisco               8973 non-null   object
 13  diferencaPercentualRisco     8973 non-null   float64
 14  percentualRisco              8973 non-null   float64
 15  dashboardCorrelacao          8973 non-null   float64
 16  valorAprovado                7569 non-null   float64
 17  dataAprovadoEmComite         558 non-null    object
 18  periodoBalanco               4733 non-null   object
 19  ativoCirculante              4733 non-null   float64
 20  passivoCirculante            4733 non-null   float64
 21  totalAtivo                   4733 non-null   float64
 22  totalPatrimonioLiquido       4733 non-null   float64
 23  endividamento                4733 non-null   float64
 24  duplicatasAReceber           4733 non-null   float64
 25  estoque                      4733 non-null   float64
 26  faturamentoBruto             8223 non-null   float64
 27  margemBruta                  8223 non-null   float64
 28  periodoDemonstrativoEmMeses  8223 non-null   float64
 29  custos                       8223 non-null   float64
 30  anoFundacao                  8228 non-null   float64
 31  intervaloFundacao            8228 non-null   object
 32  capitalSocial                8228 non-null   float64
 33  restricoes                   8228 non-null   object
 34  empresa_MeEppMei             8228 non-null   object
 35  scorePontualidade            8973 non-null   float64
 36  limiteEmpresaAnaliseCredito  8228 non-null   float64
 37  dataAprovadoNivelAnalista    7011 non-null   object
dtypes: float64(23), int64(3), object(12)
memory usage: 2.6+ MB

In [44]:
data = df[['numero_solicitacao', 'faturamentoBruto', 'totalAtivo', 'totalPatrimonioLiquido', 'tamanho_empresa']]

In [45]:
data

,numero_solicitacao,faturamentoBruto,totalAtivo,totalPatrimonioLiquido,tamanho_empresa
0,1,1766880.0,NaN,NaN,Média Empresa
1,2,NaN,NaN,NaN,NaN
2,3,2814940.0,NaN,NaN,Média Empresa
3,4,1285274.0,NaN,NaN,Média Empresa
4,5,40779757.0,25793410.0,14544378.0,Grande Empresa
...,...,...,...,...,...
8968,9041,NaN,NaN,NaN,NaN
8969,9042,NaN,NaN,NaN,NaN
8970,9043,NaN,NaN,NaN,NaN
8971,9044,NaN,NaN,NaN,NaN
8972,9045,NaN,NaN,NaN,NaN

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8973 entries, 0 to 8972
Data columns (total 40 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   numero_solicitacao              8973 non-null   int64
 1   razaoSocial                     8973 non-null   object
 2   nomeFantasia                    8973 non-null   object
 3   cnpjSemTraco                    8973 non-null   object
 4   maiorAtraso                     8973 non-null   int64
 5   margemBrutaAcumulada            8973 non-null   float64
 6   percentualProtestos             7475 non-null   float64
 7   primeiraCompra                  8867 non-null   object
 8   prazoMedioRecebimentoVendas     8973 non-null   int64
 9   titulosEmAberto                 8973 non-null   float64
 10  valorSolicitado                 8973 non-null   float64
 11  status                          8973 non-null   object
 12  definicaoRisco                  8973 non-null   object
 13  diferencaPercentualRisco        8973 non-null   float64
 14  percentualRisco                 8973 non-null   float64
 15  dashboardCorrelacao             8973 non-null   float64
 16  valorAprovado                   7569 non-null   float64
 17  dataAprovadoEmComite            558 non-null    object
 18  periodoBalanco                  4733 non-null   object
 19  ativoCirculante                 4733 non-null   float64
 20  passivoCirculante               4733 non-null   float64
 21  totalAtivo                      4733 non-null   float64
 22  totalPatrimonioLiquido          4733 non-null   float64
 23  endividamento                   4733 non-null   float64
 24  duplicatasAReceber              4733 non-null   float64
 25  estoque                         4733 non-null   float64
 26  faturamentoBruto                8223 non-null   float64
 27  margemBruta                     8223 non-null   float64
 28  periodoDemonstrativoEmMeses     8223 non-null   float64
 29  custos                          8223 non-null   float64
 30  anoFundacao                     8228 non-null   float64
 31  intervaloFundacao               8228 non-null   object
 32  capitalSocial                   8228 non-null   float64
 33  restricoes                      8228 non-null   object
 34  empresa_MeEppMei                8228 non-null   object
 35  scorePontualidade               8973 non-null   float64
 36  limiteEmpresaAnaliseCredito     8228 non-null   float64
 37  dataAprovadoNivelAnalista       7011 non-null   object
 38  tamanho_empresa_Média Empresa   8973 non-null   bool
 39  tamanho_empresa_Grande Empresa  8973 non-null   bool
dtypes: bool(2), float64(23), int64(3), object(12)
memory usage: 2.6+ MB